<div class="container d-flex justify-content-center align-items-center vh-100 bg-light">
    <div class="card shadow p-4 rounded-lg" style="width: 400px;">
      <div class="card-body">
        <h3 class="card-title text-center mb-5">Iniciar Sesión</h3>
        <form (ngSubmit)="login()" #loginForm="ngForm">
          <div class="mb-4">
            <input type="email" class="form-control" id="email" name="email" [(ngModel)]="credentials.email" required email placeholder="Correo Electrónico">
            <div *ngIf="loginForm.controls['email']?.invalid && (loginForm.controls['email']?.dirty || loginForm.controls['email']?.touched)" class="form-text text-danger">
              Por favor, ingrese un correo electrónico válido.
            </div>
          </div>
          <div class="mb-4">
            <input type="password" class="form-control" id="password" name="password" [(ngModel)]="credentials.password" required  placeholder="contraseña">
            <div *ngIf="loginForm.controls['password']?.invalid && (loginForm.controls['password']?.dirty || loginForm.controls['password']?.touched)" class="form-text text-danger">
              La contraseña es requerida.
            </div>
          </div>
          <div class="d-grid">
            <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Iniciar Sesión</button>
          </div>
          <div class="mt-2 text-center">
            ¿No tienes una cuenta? <a routerLink="/registro">Regístrate aquí</a>
          </div>
        </form>
        <div *ngIf="errorMessage" class="alert alert-danger  mt-2">{{ errorMessage }}</div>
      </div>
    </div>
  </div>